/* You can add global styles to this file, and also import other style files */




.main-actions
{
  width:100%;
  display: flex;
  justify-content: space-around;
}

.add-button
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex
{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 600px;
}

.button-actions
{
  text-align: center;
}

mat-card .backgroundEffect {
  bottom: 0;
  height: 0px;
  width: 100%;

}

mat-card:hover {
  transform: scale(1.025);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
  background: #f9ccd1;

}

.example-card
{
  height: 350px;
  justify-content: space-between;
}

#if-um-card
{
  min-width: 320px;
}

.pesquisa-add
{
  width:100%;
  display: flex;
  justify-content: center;
}

.full-width
{
  width: 100%;
  text-align: center;
  margin:3px;
  padding-top: 10px;
}

#button-pesquisa
{
  height: 55px;
  background-color: #930035;
  color: white;
}

#button-limpar
{
  height: 55px;
}


.events-button
{
  background-color: #930035;
  color: white;
}

#favorite-color
{
  color: #930035;
}

.imagem-noticia{
  object-fit: contain;
  max-height:200px;
  //min-width: 220px;
  //height: 300px;
}
