.full-width
{
  width: 100%;
}

.min-width
{
  width: 100%;
  min-width: 150px; //responsividade
}

mat-card
{
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
  display: flex;
  align-items: center;
}

mat-card-header
{
  margin-bottom: 15px;
}

