.full-width
{
  width: 100%;
}

.min-width
{
  width: 100%;
  min-width: 150px; //responsividade
}

mat-card
{
  min-height: 650px;
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
  display: flex;
  align-items: center;
}

mat-card-header
{
  margin-bottom: 15px;
}

.margin-top
{
  margin-top: 70px;
}

#save-button
{
  background-color: #930035;
  color:white;
}

.imagem-noticia{
  object-fit: contain;
  max-height:420px;
  max-width: 650px;
}
